body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #3c3f46;
    height: 100vh;
    margin: 0;
}

body.active {
    background: #a8a47b;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

/* CONTAINER */
.container {
    width: 100%;
    max-width: 800px;
    padding: 0px 15px;

    margin: 0 auto;
}