@media (max-width: 690px) {
    .form {
        flex-wrap: wrap;
        justify-content: center;
    }

    .form__content {
        margin: 0;
        border-bottom: 1px solid #ffffff21;
        border-right: none;
    }

    .buttom_for_reset {
        margin-bottom: 30px;
    }

    .forgot {
        margin: 10px 0px 10px 0px;
    }

    .forgotPass {
        margin-top: 50px;
    }

//////////////////////////////////////////////////////////////////////////////
    .title__to {
        transform: translateX(-600px);
        transition: 1s;
    }
    .title__bet {
        transform: translateX(-600px);
        transition: 1s;
    }
    .title__button {
        transform: translateX(-600px);
        transition: 1s;
    }

/////////////////////////////////////////////Theme/////////////////////////////
    .hiddenTheme {
        overflow: hidden;
        border-radius: 20px;
        margin-top: 40px;
        margin-right: 0px;
    }

    .theme {
        display: flex;
        position: relative;
        left: 90px;
        transition: 0.3s;
        background: #fff;
        border-radius: 20px;
    }
}