.title__to.active {
    transform: translateX(0);
}
.title__bet.active {
    transform: translateX(0);
}
.title__button.active {
    transform: translateX(70px);
}
.title__button.back {
    transform: translateX(0px);
}

.title__to.none {
    transition: none;
}
.title__bet.none {
    transition: none;
}
.title__button.none {
    transition: none;
}